
@font-face {
  font-family: 'PeaceSans';
  src: url('PeaceSans.eot?#iefix') format('embedded-opentype'),  url('PeaceSans.woff') format('woff'), url('PeaceSans.ttf')  format('truetype'), url('PeaceSans.svg#PeaceSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
