
@media (min-width: 1200px){
.container {
    width: 100%;
    max-width: 100%;
}
}
@media (max-width: 1600px) {
    .mailbox-menu {
        margin: 60px 10px;
    }
    .card-button {
        padding: 20px 15px;
        font-size: 14px;
    }
    .card-button i {
        margin-right: 5px;
    }
    .list-item {
        font-size: 14px;
    }
    .main__text {
        font-size: 16px;
        word-wrap: break-word;
    }
}

@media (max-width: 1420px) {
    .ok-table th {
        padding: 0px;
        padding-bottom: 40px;
        width: 200px;
    }
    .ok-title{
        font-size: 58px;
    }
    .ok-subtitle{
        line-height: 1em;
    }
    .ok-table{
            margin: 33px;

    }
}

@media (max-width: 990px) {
    .card {
        padding: 30px;
    }
    .benefits-box__item-img {
        padding: 0px;
    }
    .ok-title {
    font-size: 38px;
}
.ok-landing{
    padding: 0px;
}
.try-btn{
    margin: 30px 0px;
}
.ok-scroll{
    text-align: center;
}
.ok-bottom{
    text-align: center;
}
}
@media (max-width: 1080px) {
    
}

@media (max-width: 742px) {
    .ok-table th{
        font-size: 18px;
        padding: 5px;
    }
    .ok-table tr td:nth-child(1){
        padding-right: 10px;
    }
    .ok-table tr td{
        padding: 0px;
    }
    .ok-subflex{
        display: none;
    }
    .synch-img{
        display: none;
    }
    .try-second{
        display: none;
    }
    .roadmap-wrap{
        display: none;
    }
    .benefits {
        margin-top: 50px;
    }
    .benefits-box {
        margin-top: 30px;
    }
    .explain {

        margin-top: 50px;
    }
    .graphic-title {
        margin-top: 30px;
    }
    .card {
        margin-top: 30px;
    }
    .graphic {
        text-align: center;
    }
    .benefits-box__item {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .benefits-title {
        font-size: 24px;
    }
    .roadmap {

        padding: 20px;
    }
    .graphic {
        padding: 40px;
    }
    .inspire-block {
        width: 100%;
    }
    .header {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .title {
        font-size: 27px;
    }
    .logo {
        font-size: 55px;
    }
    .benefits-divider {
        margin: 25px 0px;
    }
    .explain-box__item {
        width: 100%;
    }
    .mg-btm {
        padding-bottom: 50px;
    }
    .explain-box__item-img {
        margin-top: 20px;
        text-align: center;
    }
}