<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset=utf-8>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <meta name="yandex-verification" content="3134627476ccd68c" />
    <meta name="Keywords" content="{{page.keywords}}">
    <meta name="Description" content="{{page.description}}">
    <meta nameE="Author" content="Cryptoconsult.by">
    <meta name="Language" content="русский">
    <meta name="Robots" content="ALL">
    <title>{{page.title}} | {{site.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- MINIFIED -->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <script type="text/javascript" src='/js/script.min.js'></script>
    <!-- FULL -->
    <!--  <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="libs/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/adaptive.css">
    <script type="text/javascript" src='libs/jquery-3.2.1.min.js'></script>
    <script src="libs/jq-mask.js"></script>
    <script type="text/javascript" src='libs/owl.carousel.js'></script>
    <script type="text/javascript" src='js/common.js'></script> -->
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="ad978236e466552f" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48171206 = new Ya.Metrika2({
                    id: 48171206,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {}
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/48171206" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116203727-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-116203727-1');
    </script>
</head>

<body class="{{page.bodyClass}}">