<section class="benefits">
        <img class="left-decor" src="/img/left-decor.png" alt="">
        <img class="right-decor" src="/img/right-decor.png" alt="">
        <div class="container-fluid container-limit">
            <div class="row">
                <div class="col-md-12">
                    <div class="benefits-heading">
                        <h1>Услуги</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="services-row">
                        <div class="services-item">
                            <div class="services-item__title">Покупка криптовалюты</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__desc">Исходя из вашего размера инвестиций, мы поможем вам выбрать самый безопасный способ покупки, найдем лучший курс, сопроводим вас на протяжении всего процесса покупки.</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__price"><span>Стоимость услуги:</span> 100 рублей</div>
                            <div class="services-item__button callback">Заказать</div>
                        </div>
                        <div class="services-item">
                            <div class="services-item__title">Продажа криптовалюты</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__desc">Мы поможем вам продать вашу криптовалюту, найдем лучший момент и курс, выберем оптимальный для вас способ оплаты вашего Биткоина, поможем избежать сделки с мошенниками, с нами вы получите максимум от продажи своего актива</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__price"><span>Стоимость услуги:</span> 100 рублей</div>
                            <div class="services-item__button callback">Заказать</div>
                        </div>
                        <div class="services-item">
                            <div class="services-item__title">Формирование инвестиционного портфеля</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__desc">Мы проанализируем рынок на момент вашего обращения, учтем желаемый срок инвестирования, и исходя из этого составим список наиболее перспективных монет для вас. Также мы дадим сигнал по выходу из каждой монеты для максимизации прибыли</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__price"><span>Стоимость услуги:</span> 150 рублей</div>
                            <div class="services-item__button callback">Заказать</div>
                        </div>
                        <div class="services-item">
                            <div class="services-item__title">Анализ криптовалют и ICO для инвестирования</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__desc">Из сотен ICO, которые появляются на рынке каждый день, мы выбераем из них на иболее перспективные. Мы предоставим отчет по каждому проекту, объясним, что за ним стоит и чего стоит ожидать. Данная услуга включает в себя инвестирование сразу в несколько проектов.</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__price"><span>Стоимость услуги:</span> 150 рублей</div>
                            <div class="services-item__button callback">Заказать</div>
                        </div>
                        <div class="services-item">
                            <div class="services-item__title">Ребалансировка инвестиционного портфеля</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__desc">Услуга для наших клиентов, которые уже получили прибыль по первому портфелю и хотят продолжить инвестирование. Мы проанализируем ваши предыдущие инвестиции и составим абсолютно новый портфель на следующий срок инвестирования.</div>
                            <div class="services-item__divider"></div>
                            <div class="services-item__price"><span>Стоимость услуги:</span> 100 рублей</div>
                            <div class="services-item__button callback">Заказать</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <img class="right-decor-bottom" src="/img/right-decor-bottom.png" alt="">
    </section>
    <section class="services-section margin--0">
        <div class="container-fluid container-limit">
            <div class="row">
                <div class="col-md-12">
                    <div class="benefits-heading">
                        <h1>Пакеты услуг</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services starter--pack">
                        <div class="services__header"><img src="/img/dot.png" alt="">Стартовый</div>
                        <div class="services__title">От 700 рублей</div>
                        <p class="services__text">Стоимость услуги: <span class="color--white">170 р.</span></p>
                        <p class="services__text">Подходящий период: <span class="color--white">от 3 мес.</span></p>
                        <div class="services__line"></div>
                        <div class="fullpack">Полный пакет услуг
                            <br><i class="fa fa-angle-down"></i></div>
                        <div class="full-text">
                            <p class="services__text color--white">Консультация и помощь в выборе оптимальной монеты для инвестирования</p>
                            <p class="services__text">Помощь в покупке криптовалюты</p>
                            <p class="services__text color--white">Помощь с организацией хранения (выбор и создание кошелька)</p>
                            <p class="services__text">Помощь в продаже криптовалюты</p>
                        </div>
                        <div class="tothemoon callback">Заказать</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services base--pack">
                        <div class="services__header"><img src="/img/dot.png" alt="">Базовый</div>
                        <div class="services__title">От 2200 рублей</div>
                        <p class="services__text">Стоимость услуги: <span class="color--white">8% от депозита</span></p>
                        <p class="services__text">Подходящий период: <span class="color--white">от 6 мес.</span></p>
                        <div class="services__line"></div>
                        <div class="fullpack">Полный пакет услуг
                            <br><i class="fa fa-angle-down"></i></div>
                        <div class="full-text">
                            <p class="services__text color--white">Консультация и помощь в выборе оптимальных монет (до 5 монет)</p>
                            <p class="services__text">Помощь в покупке криптовалюты</p>
                            <p class="services__text color--white">Помощь с организацией хранения (выбор и создание кошелька)</p>
                            <p class="services__text">Помощь в продаже криптовалюты</p>
                            <p class="services__text color--white">Рекомендации по моменту выхода из каждой монеты.</p>
                        </div>
                        <div class="tothemoon callback">Заказать</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services pro--pack">
                        <div class="services__header"><img src="/img/dot.png" alt="">Продвинутый</div>
                        <div class="services__title">От 3000 рублей</div>
                        <p class="services__text">Стоимость услуги: <span class="color--white">10% от депозита</span></p>
                        <p class="services__text">Подходящий период: <span class="color--white">от 9 мес.</span></p>
                        <div class="services__line"></div>
                        <div class="fullpack">Полный пакет услуг
                            <br><i class="fa fa-angle-down"></i></div>
                        <div class="full-text">
                            <p class="services__text color--white">Консультация и помощь в выборе оптимальной монеты для инвестирования</p>
                            <p class="services__text">Помощь в покупке криптовалюты</p>
                            <p class="services__text color--white">Помощь с организацией хранения (выбор и создание кошелька)</p>
                            <p class="services__text">Помощь в продаже криптовалюты</p>
                            <p class="services__text color--white">Рекомендации по моменту выхода из каждой монеты.</p>
                            <p class="services__text">Поддержка 24/7, рекомендации по изменению портфеля криптовалют при необходимости</p>
                            <p class="services__text color--white">Подключение к закрытому Telegram-каналу</p>
                        </div>
                        <div class="tothemoon callback">Заказать</div>
                    </div>
                </div>
            </div>
        </div>
        <img class="bottom-left-decor" src="/img/bottom-left-decor.png" alt="">
        <img class="bottom-decor" src="/img/bottom-decor.png" alt="">
    </section>