@media (max-width: 1087px) {
    .coins-wrapper {
        justify-content: flex-start;
    }
    .category .header__description {
        margin-bottom: -25px;
    }
    .modal-form {
        width: 100%;
        margin: 15px;
    }
    .header {
        margin-top: 74px;
        padding-top: 30px;
    }
    .cryptoconsult {
        font-size: 22px;
    }
    .news-form {
        display: none;
    }
    .features {
        height: auto;
        margin-bottom: 50px;
    }
    .benefits-row__item {
        margin-bottom: 30px;
        width: 100%;
    }
    .benefits-row__item:first-child {
        width: 100%;
    }

    .benefits-row__item:before {
        left: -7px;
        top: 6px;
    }

    .benefits-title {
        text-align: center;
        margin: 10px 0px;
    }
    .services {
        margin-bottom: 30px;
    }
    .footer-menu li {
        width: 120px;
        display: block;
        margin: 10px 0px;
    }
    .services-section {
        padding-bottom: 70px;
    }
    .left-decor {
        width: 40%;
        bottom: 100px;
    }
    .right-decor {
        width: 40%;
        top: 100px;
    }
    .invest-button {
        padding: 18px 25px;
        margin-top: 30px;
        position: relative;
        font-size: 18px;
        top: 35px;
    }
    .main-nav {
        display: none;
    }
    .logo {
        display: none;
    }
    .header-bg--fix {
        display: none;
    }
    .header-mobile {
        display: flex;
    }
    .mobile-centered {
        text-align: center;
    }
    .benefits {
        margin-top: 30px;
    }
    .footer-menu {
        justify-content: center;
    }
    .bottom-decor {
        bottom: -30px;
    }
    .services-item {
        width: 100%;
        margin-right: 0px;
    }
    .benefits-heading h1 {
        font-size: 35px;
        line-height: 1em;
    }
}

@media (max-width: 770px) {
    .coins {
        display: none;
    }
}