<section class="about wrapper">
        <div class="about-history">
            <h1>О Нас</h1>
            <div class="about-history__first">
                <p>ООО «Шацкий Мастер» образовано в 2011 году. Цех по производству изделий из субпродуктов расположен в деревне Шацк, Пуховичского района, Минской области. </p>
                <p>Ассортимент «Шацкого Мастера» на сегодняшний день состоит из 50 наименований сальтисонов, зельцев, паштетов, рулетов, продуктов в желе, солений и других изделий из субпродуктов. </p>
                <p>Технологи предприятия постоянно работают над созданием новых видов рецептур, беря за основу аутентичные рецепты. Мы называем это любимые «бабушкины рецепты», которые возвращают нас в тёплый уют детства.</p>
                <p>Основные продукты «Шацкого Мастера» - сальтисоны и зельцы в натуральных (синюга, пузырь) и в искусственных (полиамидных) оболочках. Так же для этой продукции мы используем один из новейших видов упаковки колбасных изделий на территории стран СНГ – текстильную оболочку, которая имеет великолепные гигиенические характеристики и увеличивает сроки хранения продукции. </p>
                <p>Особую аппетитность нашим сальтисонам и зельцам придают мастерски подобранные букеты различных пряностей.
                </p>
            </div>
            <img src="img/about/meat-top1.png" class="about-history__meat-top" alt="">
            <div class="about-history__second">
                <p> «Шацкий Мастер» готовит копчёные свиные уши – одну из самых популярных деликатесных закусок к пенным напиткам и напиткам покрепче. Однако свиные уши прекрасно можно употреблять и как самостоятельное блюдо, к тому же полезное - они богаты природным коллагеном, всеми необходимыми жирами и аминокислотами. </p>
                <p>У нас свиные уши представлены в двух видах – продукт "Ракушка Традиционная" охлажденный в вакуумной упаковке и линейкой «Уши копчёные к пиву» с разными вкусами.</p>
            </div>
            <img src="img/about/meat-middle.png" class="about-history__meat-middle" alt="">
            <div class="about-history__third">
                <img src="img/about/meat-bottom.png" class="about-history__meat-bottom" alt="">
                <p>Ароматная и нежная грудинка от «Шацкого мастера» с мясными прослойками не только очень красивая, но и потрясающе вкусная. А еще на такой грудинке можно приготовить отличную глазунью на завтрак. Ваши гости точно не оставят без внимания кулинарное искусство «хозяйки»! </p>
                <p>Но это еще не все! Полный ассортимент «Шацкого Мастера» представлен в нашем каталоге. </p>
                <p>Основное сырьё для производства: головы, шкурка, лёгкое, печень, язык и другие виды свиных субпродуктов. Также в некоторые виды изделий добавляются говяжьи субпродукты. Куриное мясо является основой некоторых блюд «Шацкого Мастера». </p>
                <p>Наши изделия имеют небольшие сроки годности, что говорит о том, что они экологически чистые и без применения химии. </p>
            </div>
            <div class="timing">
                <div class="timing__text">От</div>
                <img src="img/about/7-days.png" alt="">
                <div class="timing__text">До</div>
                <img src="img/about/30-days.png" alt="">
            </div>
            <div class="about-history__last">
                <p>Готовая продукция «Шацкого Мастера» реализуется непосредственно со склада производства по всем областям Беларуси. В каждом регионе страны у нас работают торговые представители.</p>
            </div>
            <div class="about-history__banner"> <img src="img/about/promo.png" alt=""></div>
        </div>
    </section>