<section class="contacts wrapper">
        <div class="contacts-factory">
        <div class="contacts-factory__description">
            <h1>Контакты</h1>
            <p>Цех “Шацкого Мастера” по производству изделий из субпродуктов располагается в деревне Шацк, Пуховичского района, Минской области. Там же находится и склад готовой продукции, откуда она реализуется по всем областям Беларуси.</p>
            <div class="contacts-factory__description-phones">
                <i>Наш адрес:</i>
                <p>222824, Минская обл., Пуховичский р-н,<br>
                д. Шацк</p>
                <p><b>Тел.: (+375 17 13) 33-2-80</b></p>
                <p><b>Тел.: (+375 17 13) 33-2-85</b></p>
            </div>
        </div><img alt="" class="contacts-factory__img" src="img/contacts/factory.png"></div>
        <div class="contacts-phones">
            <div class="contacts-phones__title">
                <i>Прием заявок по телефонам:</i>
            </div>
            <div class="contacts-phones__numbers">
                <div class="numbers__phone">
                    +375(17) 212-25-60
                </div>
                <div class="numbers__dot"></div>
                <div class="numbers__phone">
                    +375(29) 393-21-12
                </div>
                <div class="numbers__dot"></div>
                <div class="numbers__phone">
                    +375(29) 550-09-92
                </div>
            </div>
            <div class="contacts-phones__title">
                e-mail: info@shmaster.by
            </div>
        </div>
        <div class="contacts-staff-title">
            В каждом регионе Беларуси работают наши торговые представители.
        </div>
        <div class="contacts-staff">
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-1.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Брестская область
                    </div>
                    <div class="profile-description__name">
                        <i>Александр Владимирович Бакун</i>
                    </div>
                    <div class="profile-description__phone">
                        +375(29) 148-19-87
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>avatar98981</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>alexl007@mail.ru</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-2.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Витебская область
                    </div>
                    <div class="profile-description__name">
                        <i>Владислав Альбертович Дубровин</i>
                    </div>
                    <div class="profile-description__phone">
                        +375(44) 779-57-53
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>live:91788436fd878c41</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>shackymaster.vitebsk@gmail.com</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-3.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Гомельская область
                    </div>
                    <div class="profile-description__name">
                        <i>Владимир Ильич Шумков</i>
                    </div>
                    <div class="profile-description__phone">
                        +375(29) 342-40-10
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>shuma661</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>shumkovvladimir_86@mail.ru</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-4.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Гродненская область
                    </div>
                    <div class="profile-description__name">
                        <i>Ольга Анатольевна Кривецкая</i>
                    </div>
                    <div class="profile-description__phone phone__fix">
                        +375(29) 393-21-12
                    </div>
                    <div class="profile-description__phone phone__fix">
                        +375(29) 550-09-92
                    </div>
                    <div class="profile-description__phone phone__fix">
                        +375(29) 212-25-60
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>olga_kriveckaya</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>info@shmaster.by</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-5.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Минск
                    </div>
                    <div class="profile-description__name">
                        <i>Александр Николаевич Высоцкий</i>
                    </div>
                    <div class="profile-description__phone">
                        +375(29) 693-21-15
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>kordon2405</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>kordon10@mail.ru</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-6.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Могилёвская область
                    </div>
                    <div class="profile-description__name">
                        <i>Олег Александрович Ковалёв</i>
                    </div>
                    <div class="profile-description__phone">
                        +375(29) 916-95-81
                    </div>
                    <div class="profile-description__phone">
                        +375(29) 544-78-68
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>shhamik</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>shham@yandex.ru</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-4.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        Минская область
                    </div>
                    <div class="profile-description__name">
                        <i>Ольга Анатольевна Кривецкая</i>
                    </div>
                    <div class="profile-description__phone phone__fix">
                        +375(29) 393-21-12
                    </div>
                    <div class="profile-description__phone phone__fix">
                        +375(29) 550-09-92
                    </div>
                    <div class="profile-description__phone phone__fix">
                        +375(29) 212-25-60
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>olga_kriveckaya</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>info@shmaster.by</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
            <div class="contacts-staff__profile">
                <div class="profile__photo"><img alt="" src="img/contacts/profile-8.png"></div>
                <div class="profile-description">
                    <div class="profile-description__region">
                        РБ
                    </div>
                    <div class="profile-description__name">
                        <i>Начальник отдела продаж</i><br>
                        <br>
                        <i>Василий Николаевич Шамалов</i>
                    </div>
                    <div class="profile-description__phone">
                        +375(44) 538-87-57
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-skype"></i><i>vasili.shamalov</i>
                    </div>
                    <div class="profile-description__socials">
                        <i aria-hidden="true" class="fa fa-envelope"></i><i>vasiliy_shamalov@shmaster.by</i>
                    </div>
                </div>
                <div class="profile__background"><img alt="" src="img/contacts/profile-back.png"></div>
            </div>
        </div>
    </section>