    <section class="promo wrapper">
        <div class="promo__text">
            <h1>Производство сальтисонов, зельцев, рулетов, паштетов, заливного<br> и холодцов</h1> <img class="promo__text-img" src="img/main/promo.png" alt=""></div>
        <img class="promo__img" src="img/main/meat-top.png" alt="">
    </section>
    <section class="benefits wrapper">
        <h2>Мы создаем вкусные блюда из субпродуктов<br>
в натуральных и искусственных оболочках.</h2>
        <h1>преимущества нашей продукции</h1>
        <div class="benefits-points">
            <div class="benefits-points-item">
                <div class="benefits-points-item__inner">
                    <div class="inner__text">Создаём уникальные рецептуры на основе аутентичных рецептов</div>
                </div>
            </div>
            <div class="benefits-points-item">
                <div class="benefits-points-item__inner">
                    <div class="inner__text">Совершенствуем качество, расширяем ассортимент</div>
                </div>
            </div>
            <div class="benefits-points-item">
                <div class="benefits-points-item__inner">
                    <div class="inner__text">Используем только натуральные продукты и приправы</div>
                </div>
            </div>
        </div>
        <img src="img/main/meat-left.png" class="benefits__img" alt="">
        <h2>Продукцию “Шацкого Мастера”  можно найти в крупных республиканских торговых сетях:<br>
Евроторг, Корона, Гиппо, Алми, Соседи, Рублевский, Мартин, а также в небольших<br>
магазинах частных торговых предприятий.</h2>
        <h1>преимущества нашей компании</h1>
        <div class="benefits-points">
            <div class="benefits-points-item">
                <div class="benefits-points-item__inner">
                    <div class="inner__text">Совершенствуем условия работы с каждым покупателем
                    </div>
                </div>
            </div>
            <div class="benefits-points-item">
                <div class="benefits-points-item__inner">
                    <div class="inner__text">Торговые представители во всех регионах Беларуси
                    </div>
                </div>
            </div>
            <div class="benefits-points-item">
                <div class="benefits-points-item__inner">
                    <div class="inner__text">Отгружаем продукцию напрямую со склада производства
                    </div>
                </div>
            </div>
        </div>
    </section>