<section class="about wrapper">
        <div class="about-history">
            <h1>Продукция</h1>
            <div class="products">
                <div class="procuts-item">
                    <div class="products-item__title">Изделия в текстильной оболочке<a href="saltison-textile-shell/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    <div class="products-item__img"><img src="img/products/product-1.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>домашний</div>
                            <div class="products-inner__img"><img src="img/products/product-1__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>с языком</div>
                            <div class="products-inner__img"><img src="img/products/product-1__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Рулет
                                <br>"праздничный"</div>
                            <div class="products-inner__img"><img src="img/products/product-1__inner-3.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Сальтисоны в натуральной оболочке<a href="saltison-natural-shell/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    <div class="products-item__img"><img src="img/products/product-2.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Аппетитный"</div>
                            <div class="products-inner__img"><img src="img/products/product-2__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Крестьянский"</div>
                            <div class="products-inner__img"><img src="img/products/product-2__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Дачный"</div>
                            <div class="products-inner__img"><img src="img/products/product-2__inner-3.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Шацкий"</div>
                            <div class="products-inner__img"><img src="img/products/product-2__inner-4.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"С языком"</div>
                            <div class="products-inner__img"><img src="img/products/product-2__inner-5.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Сальтисоны в полиамидной оболочке<a href="saltison-poliamid-shell/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    <div class="products-item__img"><img src="img/products/product-3.png" class="procuts-img-fix" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Аппетитный"</div>
                            <div class="products-inner__img"><img src="img/products/product-3__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Домашний"</div>
                            <div class="products-inner__img"><img src="img/products/product-3__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Обеденный"</div>
                            <div class="products-inner__img"><img src="img/products/product-3__inner-3.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Полесский"</div>
                            <div class="products-inner__img"><img src="img/products/product-3__inner-4.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Сальтисон
                                <br>"Шацкий"</div>
                            <div class="products-inner__img"><img src="img/products/product-3__inner-5.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item"></div>
            </div>
            <div class="products">
                <div class="procuts-item">
                    <div class="products-item__title">Грудинка солёная, изделия из шпика<a href="grudinka-shpak/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    <div class="products-item__img"><img src="img/products/product-4.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">грудинка
                                <br>по-крестьянски</div>
                            <div class="products-inner__img"><img src="img/products/product-4__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">смалец
                                <br>"по-деревенски"</div>
                            <div class="products-inner__img"><img src="img/products/product-4__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">смалец "бутербродный"
                                <br>"к завтраку"</div>
                            <div class="products-inner__img"><img src="img/products/product-4__inner-3.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">грудинка
                                <br>"домашняя"</div>
                            <div class="products-inner__img"><img src="img/products/product-4__inner-4.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Зельцы в натуральной оболочке<a href="zelc-natural-shell/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    <div class="products-item__img"><img src="img/products/product-5.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Зельц
                                <br>"ароматный"</div>
                            <div class="products-inner__img"><img src="img/products/product-5__inner-1.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Зельцы в полиамидной оболочке<a href="zelc-natural-poliamid/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    <div class="products-item__img"><img src="img/products/product-6.png" class="procuts-img-fix" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Зельц
                                <br>"западный"</div>
                            <div class="products-inner__img"><img src="img/products/product-6__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">зельц
                                <br>"итальянский"</div>
                            <div class="products-inner__img"><img src="img/products/product-6__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">зельц
                                <br>"народный"</div>
                            <div class="products-inner__img"><img src="img/products/product-6__inner-3.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products products-item-6">
                <div class="procuts-item">
                    <div class="products-item__title">Заливное</div><a href="" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <div class="products-item__img"><img src="img/products/product-7.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">заливное
                                <br>из мяса птицы</div>
                            <div class="products-inner__img"><img src="img/products/product-7__inner-1.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Рулеты</div><a href="ruleti/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <div class="products-item__img"><img src="img/products/product-8.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Продукт
                                <br>"фантазия"</div>
                            <div class="products-inner__img"><img src="img/products/product-8__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">"рулет с печенью"</div>
                            <div class="products-inner__img"><img src="img/products/product-8__inner-2.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Холодцы</div><a href="holodci/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <div class="products-item__img"><img src="img/products/product-9.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Холодец
                                <br>По-деревенски</div>
                            <div class="products-inner__img"><img src="img/products/product-9__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Холодец
                                <br>с мясом птицы</div>
                            <div class="products-inner__img"><img src="img/products/product-9__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">студень
                                <br>по-белорусски</div>
                            <div class="products-inner__img"><img src="img/products/product-9__inner-3.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Копчёные уши и пятачки</div><a href="smoked-ears-pennies/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <div class="products-item__img"><img src="img/products/product-10.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">ракушка
                                <br>традиционная</div>
                            <div class="products-inner__img"><img src="img/products/product-10__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">пятачок
                                <br>"пряный"</div>
                            <div class="products-inner__img"><img src="img/products/product-10__inner-2.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Копчёные уши к пиву</div><a href="smoked-ears-beer/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <div class="products-item__img"><img src="img/products/product-11.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">уши копчёные
                                <br>пряные</div>
                            <div class="products-inner__img"><img src="img/products/product-11__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">уши копчёные
                                <br>с хреном</div>
                            <div class="products-inner__img"><img src="img/products/product-11__inner-2.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">уши копчёные
                                <br>с паприкой</div>
                            <div class="products-inner__img"><img src="img/products/product-11__inner-3.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">уши копчёные
                                <br>с красным перцем</div>
                            <div class="products-inner__img"><img src="img/products/product-11__inner-4.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="procuts-item">
                    <div class="products-item__title">Флячки</div><a href="flyachki/overview.html" class="products-router">Подробнее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <div class="products-item__img"><img src="img/products/product-12.png" alt=""></div>
                    <div class="products-inner">
                        <div class="products-inner-item ">
                            <div class="products-inner__title">Флячки
                                <br>с морковью</div>
                            <div class="products-inner__img"><img src="img/products/product-12__inner-1.png" alt=""></div>
                        </div>
                        <div class="products-inner-item ">
                            <div class="products-inner__title">флячки
                                <br>по-белорусски</div>
                            <div class="products-inner__img"><img src="img/products/product-12__inner-2.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-history__banner"> <img src="img/about/promo.png" alt=""></div>
        </div>
    </section>
     <div class="modal"></div>