    <section class="feedback wrapper">
        <div class="feedback__banner"><img src="img/main/coop.png" alt="">
     <!--        <img src="img/main/meat-right.png" class="feedback__img-right" alt=""> -->
        </div>
        <h1>У ВАС ЕСТЬ К НАМ ВОПРОСЫ?</h1>
        <h3>Напишите нам и мы обязательно с Вами свяжемся</h3>
        <form action="#" method="post" class="feedback-form">
            <input class="feedback-form__input" type="text" name="name" placeholder="Ваше имя">
            <input class="feedback-form__input" type="text" name="phone" placeholder="E-mail или телефон">
            <a href="#" type="button" class="feedback-form__button">Отправить</a>
        </form>
    </section>