<section class="about wrapper">
        <div class="about-history">
            <h1>Поставщикам</h1>
            <div class="suppliers-text">
                <p>Уважаемые производители и поставщики мясных субпродуктов!
                    <br> «Шацкий Мастер» с большой радостью примет Ваши предложения о сотрудничестве.
                    <br> Мы заинтересованы в постоянных закупках следующего сырья:</p>
                <ul>
                    <li>головы свиные</li>
                    <li>лёгкое свиное</li>
                    <li>шкурка свиная</li>
                    <li>печень свиная и говяжья</li>
                    <li>калтык говяжий</li>
                </ul>
            </div>
            <div class="suppliers-middle">
                <img src="img/suppliers/animal.png" alt="">
                <p>Уши свиные копчёные – наш конёк, поэтому уши свиные в сыром виде нам нужны всегда в большом количестве.</p>
                <p>Рассмотрим все Ваши предложения по любым видам свиных субпродуктов «от хвостика до пятачка». Говяжьи и куриные субпродукты - не исключение.</p>
                <p>Возможно, нам будут интересны субпродукты других животных и птиц, предлагайте!
                </p>
                <p>Кроме субпродуктов, мы заинтересованы в предложениях по свиным салу, грудинке и другим полуфабрикатам.</p>
            </div>
            <div class="suppliers-text">
                <p>
                    При выборе основных поставщиков мы, конечно же,
                    <br> расставляем приоритеты и выбираем тех, кто гарантирует нам:</p>
                <ul>
                    <li>качество сырья</li>
                    <li>качество упаковки и маркировки</li>
                    <li>доставка сырья транспортом поставщика</li>
                    <li>разумные сроки оплаты</li>
                    <li>скидки взамен на постоянное сотрудничество</li>
                </ul>
            </div>
            <div class="suppliers-text suppliers-last">
                <p> Свои предложения по продаже сырья отправляйте на e-mail:
                    <br> demjan_cherniavskij@shmaster.by
                    <br> или звоните по телефону:
                    <br>
                </p>
                <h2>+375 29 576-68-88</h2>
            </div>
            <div class="about-history__banner"> <img src="img/about/promo.png" alt=""></div>
        </div>
    </section>