html,
body {
    background: #11131f;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.side-nav {
    width: 128px;
    background: #000;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.logo {
    padding: 18px 25px 20px 20px;
}

.side-nav__menu-main li {
    padding: 10px 0px 10px 25px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

.side-nav__menu-main li a {
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    font-weight: 500;
}

.side-nav__menu-main li:hover {
    background: #e32f2f;
}

.side-nav__divider {
    height: 1px;
    display: inline-block;
    background: #272727;
    width: 38px;
    margin: 10px 0px 10px 25px;
}

.__red li a {
    color: #e32f2f;
    font-weight: 800;
}

.__red li:hover {
    background: #fff;
}

.side-nav__menu-main li a i:first-child {
    padding-right: 5px;
}

.side-nav__menu-main li a i:last-child {
    padding-left: 5px;
    font-size: 12px;
}

.menu-main__favourite a {
    font-size: 8px !important;
}

main {
    top: 0;
    overflow: hidden;
    margin-left: 128px;
    position: absolute;
    width: calc(100% - 128px);
}

.top-nav {
    background: #000;
}

.top-nav__menu-main,
.top-nav__profile {
    display: inline-block;
}

.top-nav__menu-main li {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 12px 0px;
    margin: 0px 25px;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.top-nav__menu-main li:hover {
    border-bottom-color: #e32f2f;
}

.top-nav__menu-main li a {
    font-size: 0;
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    font-weight: 700;
}

.top-nav__search {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 12px 16px;
    color: #fff;
    margin: 0px 25px;
    background: transparent;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.top-nav__search:hover {
    border-bottom-color: #e32f2f;
    background-color: #e32f2f;
}

.search-input {
    position: absolute;
    left: 473px;
    visibility: hidden;
    opacity: 0;
}

.search-input input {
    color: #707279;
    padding: 15px 10px;
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background: #1a1d2c;
    font-weight: 500;
    height: 30px;
    width: 410px;
    border: none;
    border-left: 2px solid #e32f2f;
    outline: none;
}

.search-input__close {
    position: absolute;
    left: 385px;
    cursor: pointer;
    top: 7px;
}

.__search-visible {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.__search-active {
    border-bottom-color: #e32f2f;
    background-color: #e32f2f;
}

.top-nav__profile {
    float: right;
}

.user__track {
    display: inline-block;
    position: relative;
    top: 9px;
}

.user__description {
    display: inline-block;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7d8f00;
    padding-left: 9px;
    position: relative;
    top: -3px;
}

.user__progress {
    top: 0px;
    margin-left: 36px;
    position: relative;
    margin-right: 20px;
}

.user__progress progress {
    display: none;
}

.progress__bg {
    background: #1a1d2c;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.progress__bar {
    overflow: hidden;
    background: #7d8f00;
    width: 25%;
    border-radius: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.user__choose {
    color: #757575;
    display: inline-block;
    padding-left: 6px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.profile__divider {
    margin: 0px 25px;
    position: relative;
    display: inline-block;
    width: 1px;
    background-color: #272727;
    height: 24px;
    top: 9px;
}

.profile__user {
    display: inline-block;
}

.profile__balance {
    display: inline-block;
    color: #7d8f00;
    font-size: 11px;
    font-weight: 800;
}

.profile__balance span {
    position: relative;
    font-size: 10px;
    top: 2px;
    font-weight: 600;
}

.profile__button {
    color: #fff;
    padding: 9px 24px;
    border-radius: 4px;
    background: #1a1d2c;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8px;
    margin: 0px 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.profile__button:hover {
    background: #23273c;
}

.top-nav__profile > .user__choose {
    margin-right: 18px;
}

.profile__lang {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    margin: 0px 20px;
    cursor: pointer;
}

content {
    color: white;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
}

.wrapper-main {
    background-image: url(../../images/background-wrapper.png);
    display: block;
    background-size: cover;
    height: 495px;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
}

.wrapper-main:after {
    background: linear-gradient(to top, #11131f 0, rgba(17, 19, 31, 0) 60%);
    content: " ";
    width: 100%;
    height: inherit;
    position: absolute;
    left: 0;
}

.wrapper-promo {
    text-transform: uppercase;
    top: 130px;
    left: 15%;
    z-index: 20;
    position: absolute;
    letter-spacing: 2px;
    text-align: center;
}

.promo__first {
    font-weight: 800;
    font-size: 23px;
}

.promo__second {
    font-size: 40px;
    margin-top: 16px;
    font-weight: 500;
}

.promo__third {
    font-size: 48px;
    font-weight: 900;
    margin-top: 10px;
    position: relative;
    left: -35px;
}

.promo__forth {
    position: relative;
    font-size: 17px;
    float: right;
    left: -15px;
    text-align: left;
    top: -36px;
    font-weight: 800;
}

.promo__info {
    margin-left: 50px;
    margin-top: 25px;
}

.promo__info a {
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 16px 52px;
    font-size: 10px;
    font-weight: 600;
}

.promo__info a:hover {
    background: #181818;
}

.wrapper__form {
    position: absolute;
    min-height: 300px;
    width: 250px;
    background: #000;
    opacity: 0.9;
    z-index: 20;
    right: 15%;
    top: 100px;
    border-radius: 4px;
    padding: 40px 15px;
}

.wrapper__form input,
.wrapper__form select {
    width: 100%;
    background: #262527;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 7px 0px;
    color: #7a7a7c;
    outline: none;
}

.wrapper__form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../images/select.png) no-repeat 97% 50% #262527;
}

.form__button {
    margin: 35px 12px;
}

.form__button a {
    padding: 15px 60px;
    color: #fff;
    background: #7d8f00;
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.form__button a:hover {
    background: #5e6c00;
}

.form__policy {
    font-size: 10px;
    margin: 0px 9px;
    color: #656565;
}

.form__policy span {
    color: #c0c1c1;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.form__policy input {
    margin-right: 10px;
    width: auto;
}

.wrapper__winners {
    height: 100px;
    background: #11131f;
    padding-left: 32px;
}

.owl-prev,
.owl-next {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    z-index: 20;
    cursor: pointer;
}

.owl-nav {
    position: absolute;
    right: 0;
}

.owl-carousel {
    position: relative;
}

.owl-stage {
    margin-top: 12px;
}

.winners__latest {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
}

.latest__profile img {
    float: left;
    width: initial !important;
    margin-right: 12px;
}

.winner-name {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.winner-game {
    color: #606167;
    font-size: 11px;
}

.winner-amount {
    color: #677606;
    margin: 6px 0px;
    font-size: 12px;
}

.winner-amount span {
    font-weight: 800;
    font-size: 13px;
}

.winner-divider {
    width: 1px;
    background: #343640;
    height: 45px;
    position: absolute;
    right: 10%;
    display: inline-block;
}

.wrapper__games {
    background: #11131f;
    padding: 10px 0px 10px 32px;
}

.games__nav {
    position: relative;
}

.nav__all-games {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
}

.nav__information {
    padding-top: 10px;
    font-size: 10px;
    color: #3e3f49;
    font-weight: 700;
}

.nav__information span {
    cursor: pointer;
    color: #d62d2e;
    text-decoration: underline;
}

.nav__sort {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.nav__sort select,
.nav__sort option {
    color: #fff;
    font-size: 10px;
    background: transparent;
    outline: none;
    border: none;
    letter-spacing: 1px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nav__sort select {
    margin-right: 25px;
}

.nav__sort select:first-child {
    background: url(/images/select.png) no-repeat 97% 50%;
    width: 60px;
}

.games__block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 10px 15px 30px 0px;
    transition: .1s;
    opacity: 1;
}

.block__preview img {
    width: 221px;
    margin-right: 4px;
    cursor: pointer;
}

.block__preview img:hover {
    filter: brightness(.6);
}

.games__more {
    text-align: center;
    margin-bottom: 15px;
}

.games__more a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 20px;
    background: #1a1d2c;
}

.games__more a:hover {
    background: #2e334d;
}

.game-hidden {
    opacity: 0;
    display: none;
}

.wrapper__payment {
    display: flex;
    justify-content: center;
    background: #000;
    padding: 40px 0px;
}

.wrapper__rights {
    padding: 20px 0px 90px 0px;
    text-align: center;
    background: #11131f;
    color: #4e4f56;
    font-size: 11px;
    line-height: 22px;
    font-weight: 600;
}

.wrapper__rights span {
    color: #7c7d84;
}

.top-nav__mobile-button {
    display: none;
}

.top-nav__mobile-button a {
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}

.top-nav__mobile-button a i {
    font-size: 12px;
}

.mobile-visible {
    transform: translate3d(0, 0, 0) !important;
}

.mobile-nav {
    position: fixed;
    transform: translate3d(0, -200%, 0);
}

.mobile-nav__buttons {
    position: absolute;
    right: 0;
    top: 10px;
    display: none;
}

.mobile-nav__buttons > * {
    display: block;
    margin-bottom: 15px;
}

.mobile-nav__buttons .profile__lang {
    text-align: right;
}
