@import "vars";






/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {}

// ≥992px
@include media-breakpoint-down(md) {
    .ico .md-card {
        width: 100% !important;
        margin: 0px;
        margin-bottom: 20px;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .ico-roi {
        margin: 32px 3px 1px 0;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {

    .ico .md-chip {
        display: none;
    }
    .md-card-header .md-card-media.md-big {
        width: 150px;
        height: 150px;
        -webkit-box-flex: 0;
        flex: 0 0 100px;
    }
}






/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(992px) {}