@import "vars";
@import "fonts";
@import "libs";

::placeholder {
    color: #666;
}

::selection {
    background-color: $accent;
    color: #fff;
}
html{
	background-color: #f6f6f6;
}
body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: $default-font;
    overflow-x: hidden;
    background-color: #f6f6f6;
    color: $text;
    input,
    textarea {
        border: #666 1px solid;
        outline: none;
        &:focus:required:invalid {
            border-color: red;
        }
        &:required:valid {
            border-color: green;
        }
    }
}

button {
    outline: none !important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-width {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

b,
strong {
    font-weight: bold;
}

.active {
    display: block !important;
}

.hidden {
    display: none;
}

.card-title {
    line-height: 1em;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.default-font {
    font-family: 'roboto-example'
}

.tabs .md-active {
    font-weight: 800 !important;
    outline: none;
}

.logo {
    padding-left: 0px !important;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    padding: 12px;
    color: $text !important;
}

.logo:hover {
    text-decoration: none !important;
}

.--color-accent {
    color: $blue;
}

.login-form {
    margin: 0 auto;
}

.md-table-head-container {
    background-color: #383838;
    color: hsla(0, 0%, 100%, .8);
}

.portfolio-block {
    display: flex;
    justify-content: space-between;
}

.total-change {
    text-align: right;
}

.total-change {
    font-weight: bolder;
}

.ico {}

.ico .card-expansion {
    height: 480px;
}

.ico .md-card {
    width: 45%;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-bottom: 30px;
}

.ico .md-card-actions {
    position: relative;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f6f6f6;
    height: 100%;
}

.ico .md-button a {
    text-decoration: none;
}

.ico-content span {
    font-weight: bolder;
    color: #383838;
}

.ico-content {
    font-size: 16px;
    color: rgba(0, 0, 0, .55);
}

.ico .md-card-media {
    padding: 10px;
    text-align: center;
}


.ico .md-card-media img {
    width: 150px;
}

.ico-status {
    position: absolute;
    right: 60px;
    text-transform: uppercase;
}

.Ended {
    background-color: #ff5252 !important;
    color: #fff !important;
}

footer {
    height: 80px;
}

.footer-wrapper p {
    margin-bottom: 5px;
    color: #131313;
    font-size: 16px;
}

.footer-wrapper i {
    color: $accent;
}

.footer-wrapper .logo {
    font-size: 18px;
}

.footer-wrapper a {
    text-decoration: none !important;
}

.footer-wrapper {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.content {
    min-height: calc(100vh - 130px);
}
.md-card-media+.md-card-header {
    padding-top: 0px;
}

.ico-roi{
    border-radius: 33px;
    border: 2px solid var(--md-theme-default-highlight, rgba(0,0,0,0.12));
    height: 65px;
    width: 65px;
    text-align: center;
    padding-top: 14px;
    margin: 32px 10px 1px 0;
        line-height: 18px;
        display: inline-block;
}
.roi-amount {
    font-weight: 700;
    color: black;
    font-family: 'Rajdhani',sans-serif;
    text-transform: none;
}
.roi-currency {
    font-weight: 400;
    color: rgba(0,0,0,.55);
    font-family: 'Roboto',sans-serif;
}
@import "media"; // Always at the end