html,
body {
    background: #11131f;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}


@font-face {
  font-family: 'PeaceSans';
  src: url('../fonts/PeaceSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/PeaceSans.woff') format('woff'), url('../fonts/PeaceSans.ttf')  format('truetype'), url('../fonts/PeaceSans.svg#PeaceSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


html{
    background: #000;
}

body{
    padding: 50px;
/*    font-family: 'PeaceSans';*/
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}
.page-wrapper{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    margin-top: 80px;
}
.header-language {
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 5px;
    display: flex;
    flex-flow: row wrap;
    color: #1a1a1a;
}
.language__divider{
    margin: 0px 20px;
    height: 30px;
    width: 1px;
    background: #333333;
    margin-top: -6px;
}
.header-logo{
    margin-top: -80px;
    text-align: center;
}
.language__en{
    cursor: pointer;
}
.language__ru{
    cursor: pointer;
}
.language-active{
    color: #fff;
        transition: all ease .5s;
}
.language-active:after{
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background: #fff;
    display: block;
    position: relative;
    top: 25px;
    right: 15px;
}
.language__ru.language-active:after{
right: 0px;
left: 30px;
}
.menu__burger{
    display: inline-block;
    height: 60px;
    cursor: pointer;
    width: 60px;
    z-index: 10;
    position: relative;
}
.burger-line--top{
    width: 100%;
    height: 2px;
    background: #ffb135;
    margin-bottom: 5px;
    transition: all ease .3s;
}
.burger-line--bot{
      width: 100%;
    height: 2px;
    background: #ffb135;
    position: relative;
    top:0px;
    transition: all ease .3s;
}
.menu-active .burger-line--top{
    transform: rotate(45deg);
}
.menu-active .burger-line--bot{
    transform: rotate(-45deg);
    top: -7px;
}
.menu-active .menu__burger{
    position: fixed;
}
.nav{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9;
    transition: .3s all ease;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-active{
    position: absolute;
    visibility: visible;
    opacity: 1;
}
.nav-list__item{
    display: block;
    width: 100%;
}
.nav-list{
    text-align: center;
}
.nav-list-item__link{
    display: inline-block;
    font-family: 'PeaceSans';
    line-height: 80px;
    text-transform: uppercase;
    color: #1a1a1a;
    font-size: 52px;
    text-decoration: none;
    transition: all ease .3s;
}
.nav-list-item__link:hover{
    color: #ffb135;
}
.nav-list-item__link:after{
    display: block;
    content: '';
    height: 3px;
    width: 0%;
    background-color: #ffb135;
    position: relative;
    top: -42px;
    transition: width .3s ease-in-out;
}
.nav-list-item__link:hover:after{
    width: 100%;
}
main{
    margin-top: 80px;
}
.case-preview__image{
    width: 400px;
    float: left;
}
.case-preview__about{
    float: right;
    width: calc(100% - 400px);
}
.about__title{
    text-transform: uppercase;
    font-family: 'PeaceSans';
   font-size: 24px;
   letter-spacing: 2px;
   position: relative;
   display: inline-block;
}
.about__title:after{
    content:'';
    height: 1px;
    width: 30px;
    display: block;
    background: #ffb135;
    margin: 15px 0px 10px 0px;
}
.about__descr{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.about__all{
    margin-left: 80px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#4c4c4c;
    font-weight: 600;
        transition: all ease .2s;
}
.about__all:hover{
    color: #fff;

}
.case-preview__full{
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 50px;
    border: 1px solid #333333;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .5px;
    transition: .3s ease all;
    margin-left: 155px;
}
.case-preview__full:hover{
    background-color: #333;
    color: #000;
}
.case-preview__full:after{
content: '';
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background: #ffb135;
    top: 20px;
    display: block;
    position: absolute;
    right: -4px;
}
.hidden{
    display: none;
}
.block-nav{
    position: fixed;
}
.block-nav__list-item{
    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #291c09;
    border-radius: 100%;
    margin-bottom: 50px;
    transition: all .3s ease;
}
.block-nav__list-item:after{
    content: '';
    display: block;
    height: 22px;
    width: 1px;
    position: relative;
    top: 30px;
    right: -7px;
    background-color: #ffb135;
}
.block-nav__list-item:last-child:after{
    display: none;
}
.block-nav-active{
    background-color: #ffb135;
}