@keyframes fade-in {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

@keyframes fade-Out {
    from {
        transform: translateY(-20px);

    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade-OutSushi {
    from {
        transform: translateY(-20px);

    }
    to {
        transform: translateY(-1px);
    }
}

@keyframes fade-outPrinciples {
    from {
        transform: translateY(10px);

    }
    to {
        transform: translateY(0px);
    }
}

